In [3]:
import pandas as pd

### Inspect Each CSV File

#### Table 1: users

In [8]:
users = pd.read_csv('users.csv')
users.head()

      user_id  gender  senior_citizen  has_partner  has_dependents
0  7590-VHVEG  Female               0            1               0
1  5575-GNVDE    Male               0            0               0
2  3668-QPYBK    Male               0            0               0
3  7795-CFOCW    Male               0            0               0
4  9237-HQITU  Female               0            0               0

In [9]:
# row count, column count
users.shape

(8451, 5)

In [10]:
# check if there're duplicates
users['user_id'].nunique()

8451

In [23]:
# null counts
sum(users['has_dependents'].isnull())

0

In [24]:
# distribution of attributes

# number of users that is senior citizen
users.groupby('senior_citizen').count()['user_id']

senior_citizen
0    7091
1    1360
Name: user_id, dtype: int64

In [26]:
# number of users that has partner
users.groupby('has_partner').count()['user_id']

has_partner
0    4377
1    4074
Name: user_id, dtype: int64

In [27]:
# number of users that has dependents
users.groupby('has_dependents').count()['user_id']

has_dependents
0    5933
1    2518
Name: user_id, dtype: int64

#### Table 2: subscriptions

In [30]:
subscriptions = pd.read_csv('subscriptions.csv')
subscriptions.head()

,user_id,signup_date,cancel_date,plan,price,status,payment_method,total_charges,internet_service,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing
0,7590-VHVEG,2025-11-21,NaN,Basic,30.462029,active,Electronic check,32.672437,DSL,0,0,0,1,0,0,0,0,1
1,5575-GNVDE,2023-02-28,NaN,Standard,59.059333,active,Mailed check,1491.562705,DSL,1,0,1,0,1,0,0,0,0
2,3668-QPYBK,2023-09-28,2023-12-23,Standard,54.776886,cancelled,Mailed check,105.503490,DSL,1,0,1,1,0,0,0,0,1
3,7795-CFOCW,2023-01-01,NaN,Basic,43.393045,active,Bank transfer (automatic),2055.669585,DSL,0,0,1,0,1,1,0,0,0
4,9237-HQITU,2024-11-22,2025-02-22,Standard,72.489155,cancelled,Electronic check,144.717197,Fiber optic,1,0,0,0,0,0,0,0,1

In [32]:
# row counts, column counts
subscriptions.shape

(7043, 18)

In [35]:
# check duplicates
subscriptions['user_id'].nunique()

7043

In [44]:
# null counts
for col in subscriptions.columns:
    null_count = sum(subscriptions[col].isnull())
    print(col, null_count)

user_id 0
signup_date 0
cancel_date 5174
plan 0
price 0
status 0
payment_method 0
total_charges 0
internet_service 0
phone_service 0
multiple_lines 0
online_security 0
online_backup 0
device_protection 0
tech_support 0
streaming_tv 0
streaming_movies 0
paperless_billing 0

In [70]:
# plan
subscriptions.groupby('plan').count()['user_id']

plan
Basic       2294
Premium     2704
Standard    2045
Name: user_id, dtype: int64

In [48]:
# status
subscriptions.groupby('status').count()['user_id']

status
active       5174
cancelled    1869
Name: user_id, dtype: int64

In [49]:
# payment method
subscriptions.groupby('payment_method').count()['user_id']

payment_method
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Electronic check             2365
Mailed check                 1612
Name: user_id, dtype: int64

In [52]:
# internet service
subscriptions.groupby('internet_service').count()['user_id']

internet_service
DSL            2421
Fiber optic    3096
No             1526
Name: user_id, dtype: int64

In [57]:
# high level distribution
for col in ['phone_service', 'multiple_lines',	'online_security',	'online_backup', 'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies', 'paperless_billing']:
    count = subscriptions.groupby(col).count()['user_id']
    print (count)

phone_service
0     682
1    6361
Name: user_id, dtype: int64
multiple_lines
0    4072
1    2971
Name: user_id, dtype: int64
online_security
0    5024
1    2019
Name: user_id, dtype: int64
online_backup
0    4614
1    2429
Name: user_id, dtype: int64
device_protection
0    4621
1    2422
Name: user_id, dtype: int64
tech_support
0    4999
1    2044
Name: user_id, dtype: int64
streaming_tv
0    4336
1    2707
Name: user_id, dtype: int64
streaming_movies
0    4311
1    2732
Name: user_id, dtype: int64
paperless_billing
0    2872
1    4171
Name: user_id, dtype: int64

#### Table 3: user_events

In [4]:
user_events = pd.read_csv('user_events.csv')
user_events.head()

      user_id event_type           event_time device_type  page_url
0  2284-VFLKH      click  2023-01-01 00:00:19     desktop  /profile
1  8592-PLTMQ      watch  2023-01-01 00:00:38      mobile    /watch
2  4567-AKPIA      login  2023-01-01 00:00:46      mobile     /home
3  7426-GSWPO      login  2023-01-01 00:01:15      mobile    /login
4  1470-PSXNM      click  2023-01-01 00:01:23      mobile  /profile

In [28]:
# row counts, column counts
user_events.shape

(21406796, 5)

In [61]:
# check if there're duplicate user_id
user_events['user_id'].nunique()

7037

In [60]:
# check for null
for col in user_events.columns:
    null = sum(user_events[col].isnull())
    print(col, null)

user_id 0
event_type 0
event_time 0
device_type 0
page_url 0

In [65]:
# high level distribution
for col in ['event_type', 'device_type']:
    count = user_events.groupby(col).count()['user_id']
    print(count)

event_type
cancel     188190
click     5159197
login     8310599
watch     7748810
Name: user_id, dtype: int64
device_type
desktop     7338435
mobile     12873638
tablet      1087690
unknown      107033
Name: user_id, dtype: int64

### Validate foreign keys

In [67]:
# check that all user_id in "subscriptions" is in "users"
users_list = users['user_id'].unique()

sum(~subscriptions['user_id'].isin(users_list))

0

In [69]:
# check that all user_id in "user_events" is in "users"
sum(~user_events['user_id'].isin(users_list))

0

### Check datetime range

In [83]:
subscriptions['signup_date'] = pd.to_datetime(subscriptions['signup_date'])

In [86]:
subscriptions['cancel_date'] = pd.to_datetime(subscriptions['cancel_date'])

In [98]:
user_events['event_time'] = pd.to_datetime(user_events['event_time'])

In [92]:
# check that the signup date is always earlier than the cancel date, if not null
sum(~(~subscriptions['cancel_date'].isnull()) == (subscriptions['signup_date'] < subscriptions['cancel_date']))

0

In [99]:
# min and max signup_date
print(f'Time range for signup_date is {min(subscriptions['signup_date'])} to {max(subscriptions['signup_date'])}')

# min and max cancel_date
non_null_sub = subscriptions[~subscriptions['cancel_date'].isnull()]
print(f'Time range for cancel_date is {min(non_null_sub['cancel_date'])} to {max(non_null_sub['cancel_date'])}')

# min and max event_time
print(f'Time range for event_time is {min(user_events['event_time'])} to {max(user_events['event_time'])}')

Time range for signup_date is 2023-01-01 00:00:00 to 2025-12-31 00:00:00
Time range for cancel_date is 2023-02-04 00:00:00 to 2025-12-31 00:00:00
Time range for event_time is 2023-01-01 00:00:19 to 2025-12-30 23:01:40